<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body ng-app="release-tabletop">

	<div ng-controller="mainCtrl as main">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="input-group">
					<input type="text" class="form-control copy" ng-model="main.result" placeholder="Plugin install...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="main.copy()">Copy</button>
					</span>
				</div>
			</div>
			<table class="table table-bordered table-hover table-condensed table-striped">
				<thead>
				<tr>
					<th ng-repeat="(key,version) in main.table[0]">
						<span ng-bind="::key" ng-if="$index"></span>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="plugin in main.table">
					<td ng-repeat="(key,version) in plugin">
						<input type="checkbox" ng-if="version !== '-'" ng-click="main.onChange(plugin.Plugins, version)">
						<span ng-bind="::version"></span>
					</td>
				</tr>
				</tbody>

			</table>
		</div>
		<div class="alert alert-success text-center" ng-class="{'active': main.copyStatus === 'success'}" role="alert">Copying text command was successful</div>
		<div class="alert alert-danger text-center" ng-class="{'active': main.copyStatus === 'fail'}" role="alert">Copying text command was unsuccessful</div>
	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="lib/tabletop.js"></script>
	<script src="lib/TabletopProvider.js"></script>
	<script src="app.js"></script>

</body>

</html>
