<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body ng-app="release-tabletop">

	<div ng-controller="mainCtrl as main" class="{{main.colorClass}}">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="input-group">
					<input type="text" class="form-control copy" ng-model="main.line" placeholder="Plugin install...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="main.copy()">Copy</button>
					</span>
				</div>
			</div>
			<table class="table table-bordered table-hover table-condensed table-striped">
				<thead>
				<tr>
					<th ng-click="main.activateOldPlugins()" class="pointer">
						<span>Plugins</span>
					</th>
					<th ng-repeat="item in main.headerList" ng-if="!item.hidden" ng-mouseover="main.onHeaderMouseOver(item)" ng-mouseleave="main.onMouseLeave()" ng-class="{active: item.active}">
						<input type="checkbox" ng-model="item.checked" ng-change="main.changeAll(item)">
						<span ng-bind="::item.name"></span>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="plugin in main.bodyList">
					<td ng-bind="::plugin.name"></td>
					<td ng-repeat="version in plugin.versions" ng-if="!version.hidden" ng-mouseover="main.onMouseOver(version)" ng-mouseleave="main.onMouseLeave()" ng-class="{active: version.active}">
						<input type="checkbox" ng-if="version.value && version.value !== '-'" ng-model="version.checked" ng-change="main.changeStatus(plugin, version)">
						<span ng-bind="::version.value"></span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="alert alert-success text-center" ng-class="{'active': main.copyStatus === 'success'}" role="alert">Copying text command was successful</div>
		<div class="alert alert-danger text-center" ng-class="{'active': main.copyStatus === 'fail'}" role="alert">Copying text command was unsuccessful</div>
	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="lib/tabletop.js"></script>
	<script src="lib/TabletopProvider.js"></script>
	<script src="app.js"></script>

</body>

</html>
