@import "colors.css";
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered{
	border: 1px solid #ddd;
}
table tr th,
table tr td:not(:first-child){
	text-align: center;
	min-width: 95px;
}
table tr td:first-child input[type=checkbox]{
	display: none;
}
.panel{
	border: none;
}
.alert{
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}
.alert.active{
	opacity: 1;
	transition: 0.3s opacity linear;
	pointer-events: auto;
}