table tr th,
table tr td:not(:first-child){
	text-align: center;
}
table tr td:first-child input[type=checkbox]{
	display: none;
}
.alert{
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
}
.alert.active{
	opacity: 1;
	transition: 0.5s opacity linear;
}